body{
    /** permet de centrer les éléments sur la page **/
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    /** on défini les paramètres corps: couleurs, position **/
    background-color:#000;
    color:#fff;
    font-family: monospace;
}

#terrain{
    /** on défini les paramètres du terrain: paramètres de la bordure, couleur,position **/
    width:800px;
    height:400px;
    border:1px solid #fff ;
    position: relative;
}

.tilt{
    border-color: rgb(0, 250, 0) !important;
}

#balle{
    /** on défini les paramètres de la balle: dimensions, couleur,position **/
    width:20px;
    height:20px;
    background-color: #fff;
    border-radius: 100px;
    position:absolute;
    top:50%;
    left:50%;
}

.raquette{
    /** on défini les paramètres de la raquette: dimension, couleur, position ,variable -> calculée**/
    position: absolute; 
    --hauteur: 25%;
    width: 10px;
    height: var(--hauteur);
    background-color: #fff;
    top : calc( 50% - var(--hauteur)/2 ); 
}

#droite{
    right: 1%;
}
#gauche{
    left: 1%;
}